@font-face {
     font-family: 'hrd-aviny';
    src: url('../fonts/Aviny.woff');
    font-weight: normal;
    font-style: normal;

}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
::placeholder{
    font-size:25px;
    font-family: hrd-aviny;
    color: #2D6DF2;
}
p{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: red;

}

li{
    list-style: none;
    display: inline;
}
ul{
    display: inline;
    padding: 0;
    margin: 0;
}

/* ساخت هدر سایت */
.sj-header{
    width: 100%;
    height: 950px;
    float: right;
    background-image: url(../images/background-header.png);
    background-repeat: no-repeat;
    position: relative;
    background-size: 100% 100%;

}

.sj-container{
    width: 100%;
    height: inherit ;
    padding: 0 70px;
    box-sizing: border-box ;
}

.sj-top-header{
    width: 100%;
    height: auto;
    float: right;
    padding: 10px 0;

}
.sj-top-header .sj-top-header-right{
    width: 50%;
    height: auto;
    float: right;
    display: inline;
}
.sj-top-header .sj-top-header-left{
    width: 50%;
    height: auto;
    float: left;
    display: inline;
}

.sj-top-header-right a .fa-comment{
    margin-left: 5px;

}



.sj-top-header-right .sj-top-right-a{

    padding-left: 20px ;
    font-size: 20px;
    color: black;
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1 {
  background-color: white;
  color: white;
  text-align: center;
  border: 2px solid #04AA6D;
}

.button1:hover {
  background-color: #04AA6D;
  color: white;
  text-align: center;
}

.sj-top-header-right-ul{
    margin-right: 20px ;

}
.sj-top-header-right-ul li{
    margin-left: 10px ;
}
.sj-top-header-left-ul{
    float: left;
    width: 100%;
    height: auto ;
    text-align: left;
}
.sj-top-header-left-ul li{
    margin-left: 25px;

}
.sj-top-header-left-ul li a{
    color: white;
    font-size: 18px;

}
.sj-top-header-left-ul li a :hover{
    color: midnightblue;
}
.sj-center-header{
    width: 100%;
    height: auto;
    float: right;
    margin-top: 15px;
}
.sj-center-header .sj-header-logo{
    width: 20%;
    height: auto;
    float: right;
}
figure{
    margin: 0;
    padding: 0 ;
}
.sj-center-header-main-menu{
    width: 80%;
    height: auto;
    float: right;

}
.sj-center-header-main-menu .sj-center-header-main-menu-ul{
    width: 100%;
    height: auto;
    float: right;
    padding-right: 580px;
    box-sizing: border-box;

}
.sj-center-header-main-menu-ul li a{
    margin-left: 25px;
    position: relative;

}
.sj-center-header-main-menu-ul li a{
    color: white;
    font-size: 18px;

}
.sj-center-header-main-menu-ul li a:hover{
    color: red;


}
.sj-center-header-child-menu{
    /*display: none;*/
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition-duration: max(2s);

}
.sj-center-header-child-menu li{
    color: white;
    width: 150px;
    top: 30px;
    right: 0;
    background: navy;
    padding: 10px;


}
.sj-center-header-child-menu li:hover a{
    color: #ff6a00; !important;


}
.sj-center-header-main-menu-ul li:hover .sj-center-header-child-menu{
    visibility:visible ;
    opacity: 1;

}
.sj-center-header-child-menu li{

    display: block;
    padding: 6px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
     text-align: center;
}
.sj-center-menu-childmenu-li{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
    text-align: center !important;
    color: white;

}
.sj-center-menu-childmenu-li i{
    margin-right: 5px;
    text-align: center !important;
    color: white;
}
.sj-header-content-right{
    width: 100%;
    height: auto;
    float: right;
    margin-top: 145px;
}
.sj-header-content-right-p{
    color: #E1852D;
    font-size: 45px;
    font-family: hrd-aviny ;
}
.sj-header-content-right-p2{
    color: #37426C;
    font-size: 80px;
    font-family: hrd-aviny ;
}
.sj-header-content-right-p3{
    color: #A5A5BA;
    font-size: 45px;
    font-family: hrd-aviny ;
    margin-top: 15px;
    line-height: 38px;
}
.sj-header-search-form{
    width: 50%;
    height: auto;
    float: right;
}
.sj-header-search-form form{
    width: 100%;
    height: auto;
    float: right;
    margin-top: 30px;
    position: relative;
}
.sj-header-search-form input{
    width: 100%;
    height: auto;
    padding: 15px 20px;
    border: none;
    box-shadow: 0px 0px 20px 7px #e8e8e8;
    border-radius: 25px  ;
    box-sizing: border-box;

}

.sj-header-search-form form .fa-search{
    position: absolute;
    left: 6px;
    background: #2D6DF2;
    color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 25px;
    top: 2px;
}